[receive]
        requireChangeId = true
[submit]
        mergeContent = true
        action = merge always
[access "refs/heads/*"]
	label-Verified = -1..+1 group android_system_vold
	owner = group android_system_vold
	pushMerge = group Administrators
	forgeAuthor = group Administrators
	forgeCommitter = group Administrators
	forgeServerAsCommitter = group Administrators
	push = +force group Administrators
